I take notes on Aluffi: Chapter 0 in org-mode, which allows me to automatically convert them to <a href="/docs/aluffi_org.html">HTML</a> (with internal links) and <a href="https://ankiweb.net/shared/info/2017590646">Anki flashcards</a>.The org source is <a href="/docs/aluffi.org">here</a>, and below you can also find the work broken down by category:

<br><br>
Definitions
$for(defs)$
    <li>
        <a href="$url$">$title$</a>
    </li>
$endfor$
<br><br>
Propositions
$for(props)$
    <li>
        <a href="$url$">$title$</a>
    </li>
$endfor$
<br><br>
Examples
$for(examples)$
    <li>
        <a href="$url$">$title$</a>
    </li>
$endfor$
<br><br>
Exercises
$for(exercises)$
    <li>
        <a href="$url$">$title$</a>
    </li>
$endfor$
<br><br>
