<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kris Brown - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/aluffi.html">Algebra</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>

            <br><br><br>
            <hr><hr><hr>


            <!-- begin wwww.htmlcommentbox.com -->
             <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
             <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
             <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%246LzedHYp5yKoC3JWNZwxn."+"&opts=16862&num=10&ts=1559817694287");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
            <!-- end www.htmlcommentbox.com -->

            <!-- Remarkbox - Your readers want to communicate with you
            <h2> <u>Comments</u></h2>
            <div id="remarkbox-div">
              <noscript>
                <iframe id="remarkbox-iframe" src="https://my.remarkbox.com/embed?nojs=true" style="height:600px;width:100%;border:none!important" tabindex="0"></iframe>
              </noscript>
            </div>
            <script src="https://my.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script>
            <script>
              var rb_owner_key = "3b25c051-87b2-11e9-9e45-040140774501";
              var thread_uri = window.location.href;
              var thread_fragment = window.location.hash;
              function create_remarkbox_iframe() {
                var src = "https://my.remarkbox.com/embed?rb_owner_key=" + rb_owner_key + "&thread_uri=" + thread_uri;
                var ifrm = document.createElement("iframe");
                ifrm.setAttribute("id", "remarkbox-iframe");
                ifrm.setAttribute("scrolling", "no");
                ifrm.setAttribute("src", src);
                ifrm.setAttribute("frameborder", "0");
                ifrm.setAttribute("tabindex", "0");
                ifrm.setAttribute("title", "Remarkbox");
                ifrm.style.width = "100%";
                document.getElementById("remarkbox-div").appendChild(ifrm);
              }
              create_remarkbox_iframe();
              iFrameResize(
                {
                  checkOrigin: ["https://my.remarkbox.com"],
                  inPageLinks: true,
                  initCallback: function(e) {e.iFrameResizer.moveToAnchor(thread_fragment)}
                },
                document.getElementById("remarkbox-iframe")
              );
            </script>-->
            <br><br>  <a href="https://github.com/kris-brown/personal_website">Hakyll source code</a>
        </footer>
    </body>
</html>
